!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Find the Fight"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCKCin-26T6INKx4awqFqrj1sfDPm3_92E&callback=setMapsReady", async: true, defer: true
    = csrf_meta_tags
  %body
    .row.header-wrapper.margin-bottom-2
      .header-overlay
        = image_tag "logo-big.svg"
        %p.text-center Make a real change. Join the resistance.
    -# flash notifications
    - alert_mappings = {"info" => "primary", "notice" => "primary", "error" => "alert", "alert" => "alert"}
    - flash.each do |k, v|
      - next unless alert_mappings[k].present?
      .callout{class: [alert_mappings[k], k], data: {closable: true}}
        = v
        %button.close-button(aria-label="Dismiss alert" type="button" data-close)
          %span(aria-hidden="true") &times;
    = yield
